main#aviso{
    height: unset !important;
    font-weight: 700 !important;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    color: #17324b !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 37%;
    left: 10%;
}

h1{
    font-size: 2rem !important;
}

a#voltar-inicio{
    margin-top: 1rem;
    font-size: 1rem;
    color: #368db6;
}

footer{
    position: absolute !important;
    bottom: 0 !important;
}

@media (min-width: 940px) {
    main#aviso{
        top:49%
    }
}