.btn-wpp{
  background-color:#25d366;
  color:#fff;
  border: 0px solid unset;
}
.btn-wpp:hover{
  background-color:#fff;
  color:#25d366;
}

.btn-wpp-outline:hover{
  border:1px solid #25d366;
}
.btn-service .btn-wpp:hover{
  background-color: #075e54;
  color:#25d366;
}

.title{
  font-size:3rem;
}

.addressIframe{
  border:0;
  width:100%;
  height:500px;
}


.article-hero-image{
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  padding:4em 0;
  position:relative;
}

.article-hero-overlay{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background-color:var(--bs-primary);
  opacity:.5;
}

.container-content{
  z-index:10;
  position:relative;
}
.article-analise-de-passivo{
  background-image:url('/img/servicos_pocos_02.jpg');

}
.article-certificado-ambiental{
  background-image:url('/img/servicos_pocos_06.jpg');
}

.article-como-economizar{
  background-image:url('/img/servicos_pocos_07.jpg');
}

.article-image{
  width:100%;
  max-width:600px;
  height:300px;
  object-fit:cover;
}
.dropdown-services-menu, .services-item-menu{
  color:#fff;
}
.dropdown-services-menu:hover, .services-item-menu:hover{
  color:#fff;
}

.drowpdown-services{
  position:relative;
}

.contact-content-container{
  display:flex;
  flex-direction:column;
}
.contact-content-container .phone{
  font-weight:bold;
}
.contact-content-container .email{
  margin-bottom:16px;
}
.contact-content-container .address{
}
@media(max-width:992px){
  .dropdown-services-menu, .services-item-menu{
    color:var(--bs-primary);
  }
  .dropdown-menu{
    position:absolute!important;
  }
}